/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/led/led.h>

/ {

    chosen {
        zmk,matrix-transform = &default_transform;
        zmk,kscan = &kscan;
        zephyr,display = &oled;
        zmk,underglow = &led_strip;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <19>;
        rows = <6>;
//	|0   |1   |2   |3   |4   |5   |
//	|6   |7   |8   |9   |A   |B   |
//	|C   |D   |E   |    |    |    |
//	|F   |G   |H   |I   |    |    |

        map = <
RC(0,0)  RC(1,1)  RC(2,2)  RC(3,3)  RC(4,4)  RC(5,5)  
RC(0,6)  RC(1,7)  RC(2,8)  RC(3,9)  RC(4,10) RC(5,11) 
RC(0,12) RC(1,13) RC(2,14)                            
RC(0,15) RC(1,16) RC(2,17) RC(3,18)                   

        >;
    };

    kscan: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;

        diode-direction = "col2row";

        row-gpios
            = <&gpio0 31 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>   // Row-0
            , <&gpio0 29 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>   // Row-1
            , <&gpio0  2 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>   // Row-2
            , <&gpio1 15 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>   // Row-3
            , <&gpio1 13 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>   // Row-4
            , <&gpio1 11 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>   // Row-5
            ;

        col-gpios
            = <&gpio0 10 GPIO_ACTIVE_HIGH>   // Col-0
            , <&gpio0  9 GPIO_ACTIVE_HIGH>   // Col-1
            , <&gpio1  6 GPIO_ACTIVE_HIGH>   // Col-2
            , <&gpio1  4 GPIO_ACTIVE_HIGH>   // Col-3
            , <&gpio0 11 GPIO_ACTIVE_HIGH>   // Col-4
            , <&gpio1  0 GPIO_ACTIVE_HIGH>   // Col-5
            , <&gpio0 24 GPIO_ACTIVE_HIGH>   // Col-6
            , <&gpio0 22 GPIO_ACTIVE_HIGH>   // Col-7
            , <&gpio0 20 GPIO_ACTIVE_HIGH>   // Col-8 SCK
            , <&gpio0 17 GPIO_ACTIVE_HIGH>   // Col-9 SDA
            , <&gpio0  8 GPIO_ACTIVE_HIGH>   // Col-11 EnB
            , <&gpio0  6 GPIO_ACTIVE_HIGH>   // Col-10 EnA
            , <&gpio1  8 GPIO_ACTIVE_HIGH>   // Col-12 N3-1
            , <&gpio0  7 GPIO_ACTIVE_HIGH>   // Col-13 N3-2
            , <&gpio1  2 GPIO_ACTIVE_HIGH>   // Col-14 N3-3
            , <&gpio0 19 GPIO_ACTIVE_HIGH>   // Col-15 N4-1
            , <&gpio0 21 GPIO_ACTIVE_HIGH>   // Col-16 N4-2
            , <&gpio0 23 GPIO_ACTIVE_HIGH>   // Col-17 N4-3
            , <&gpio0 12 GPIO_ACTIVE_HIGH>   // Col-18 N4-4
            ;
    };

    left_encoder: left_encoder {
        compatible = "alps,ec11";
        steps = <80>;
        a-gpios = <&gpio0  6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio0  8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        //sensors = <&left_encoder1 &right_encoder1>;
        sensors = <&left_encoder>;
        triggers-per-rotation = <20>;
    };

};

&pinctrl {
    // Other pinctrl definitions for other hardware
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
                    <NRF_PSEL(TWIM_SCL, 0, 20)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
                    <NRF_PSEL(TWIM_SCL, 0, 20)>;
            low-power-enable;
        };
    };

    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>;
        };
    };

    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>;
            low-power-enable;
        };
    };
};

&i2c0 {
	status = "okay";
	//compatible = "nordic,nrf-twi";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
    
	oled: ssd1306@3c {
		compatible = "solomon,ssd1306fb";   //0.91   0.96
        //compatible = "sinowealth,sh1106";   //1.30
		reg = <0x3c>;
		label = "Dongle_DISPLAY";
		width = <128>;
		height = <32>;
		segment-offset = <0>;   //0.91   0.96
        //segment-offset = <2>;   //1.30
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <31>; //128*32
		//multiplex-ratio = <63>; //128*64
		segment-remap;
		com-invdir;
        inversion-on;   // 翻转颜色
		//com-sequential;
		prechargep = <0x22>;
	};
};

&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";

    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";

        /* SPI */
        reg = <0>; /* ignored, but necessary for SPI bindings */
        spi-max-frequency = <4000000>;

        /* WS2812 */
        chain-length = <1>; /* arbitrary; change at will */
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};
